extends layout

block content
    h1= title
    form#formAddGuide(name="newguide", method="POST", enctype="multipart/form-data", action="/guideSignup")
        input#inputUserName(type="text", placeholder="Name", name="guideName")
        input#inputUserEmail(type="text", placeholder="Email", name="guideEmail")
        input#inputUserMajor(type="text", placeholder="Major", name="guideMajor")
        input#inputUserLanguage(type="text", placeholder="Language", name="guideLanguage")
        input#inputUserPhoto(type="file", name="guidePicture")
        input#inputUserPassword(type="password", placeholder="Password", name="guidePassword")
        input#inputUserPasswordConfirm(type="password", placeholder="Password", name="guidePasswordConfirm")
        button#btnSubmit(type="submit") submit
